@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');

$green-check: rgb(158, 231, 158);
$yellow-progress: rgb(250, 208, 130);
$red-blocked: rgb(216, 138, 138);
$gray-disabled: rgb(168, 168, 168);
$header-background: #696969;

.dashboard {
    padding: 0;
    background-color: #dadada;

    .header {
        padding: 1rem 2rem;
        background-color: $header-background;

        .header-title {
            font-family: 'Cabin','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 3rem;
            color: rgb(255, 255, 255);
        }

        .user-info {
            align-items: center;

            .contador-uc {
                background-color: rgb(243, 243, 243);
                padding: .3rem 1.2rem;
                border-radius: 3px;
            }
            .btn {
                font-size: 1.6rem;
                box-shadow: .2px .2px .4rem black;
                margin-left: 2rem;
            }
        }
    }

    .main-container {
        .pensum-container {
            margin: 2rem;
            overflow-x: scroll;
            overflow-y: hidden;

            .columna-semestre {
                margin: 0 2.5rem;
                
                .column-header {
                    border-radius: 2px;
                    width: auto;
                    text-align: center;
                    font-family: 'Cabin','Segoe UI',sans-serif;
                    background-color: #1968c2;
                    color: white;

                }
                .materiaContainer {
                    margin: 1.2rem 0;
                    background-color: rgb(165, 202, 61);
                    display: flex;
                    justify-content: flex-end;

                    .dropdown {
                        
                        .dropdown-toggle {
                            position: absolute;
                            right: .4rem;
                            top: .4rem;
                        }

                        .dropdown-link {
                            font-size: 1.6rem;
                        }
                
                        .dropdown-link.checked {
                            background-color: $green-check;
                        }
                        .dropdown-link.cursando {
                            background-color: $yellow-progress;
                        }
                    }
                }
            }

            .columna-semestre.sem-1 {
                margin-left: 0;
            }
            .columna-semestre.sem-12 {
                margin-right: 0;
            }
        }

        .pensum-container::-webkit-scrollbar {
            -webkit-appearance: sliderthumb-horizontal;
            background: rgb(189, 189, 189);
            border-radius: 4px;
        }
        .pensum-container:-webkit-scrollbar:horizontal {
            width: 3px;
        }
        .pensum-container::-webkit-scrollbar-thumb {
            background: rgba(68, 68, 68, 0.349);
            border-radius: 4px;
        }
        .pensum-container::-webkit-scrollbar-thumb:hover {
            background: rgba(68, 68, 68, 0.603);
        }
        
    }

}
