$green-check: rgb(158, 231, 158);
$yellow-progress: rgb(250, 208, 130);
$red-blocked: rgb(216, 138, 138);
$gray-disabled: rgb(168, 168, 168);

.card.materia-card {
    width: 12.5rem;
    height: 12rem;
    justify-content: center;
    background-color: white;

    .materia-nombre {
        font-size: 1.5rem;
        text-align: center;
    }

    .materia__elements-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 .5rem .4rem .8rem;
    
        .condicion-badge {
            font-size: 1.2rem;
            width: fit-content;
            height: fit-content;
            background-color: rgb(84, 198, 226);
        }
    }
}

.materia-card.aprobada {
    background-color: $green-check;
}

.materia-card.cursando {
    background-color: $yellow-progress;
}

.materia-card.bloqueada {
    background-color: $red-blocked;
}

.materia-card.inicial {
    background-color: white;
}

.materia-card.descartada {
    background-color: $gray-disabled;
}